.header-nav {
    background-color: #000000;
    text-align: center;
    color: rgb(255, 255, 255, 0.75);
}

.logo-invertido {
    filter: invert(100%);
    background-color: transparent;
}

.nav-button {
    color: white;
}

.header-logo-invertocat:hover{
    color:#fff;
    text-decoration:none;
}

.menu li{
    display: inline;
    margin: auto 5px;
}

.menu{
    float: left;
    padding-right: 100px;
    padding-left: 100px;
}

.form{
    float: left;
}


.form-item {
    margin: 20px auto;
}


.submit-signup{
    background-color: white;
}
/* ===============================================================================================================*/

/* ===============================================================================================================*/
.text-gray {
    color: #586069;
}

.section-2 {
    padding-top: 50px;
    padding-bottom: 50px;
}
/* ===============================================================================================================*/

/* ===============================================================================================================*/
.jumbotron-codelines{
    color:rgba(255, 255, 255, 0.5);
    background:url("../images/index/simple-codelines.svg"), #2b3137;
    background-position:center 10%;
    background-size:cover
}
/* ===============================================================================================================*/

/* ===============================================================================================================*/
.logo-cinza {
    filter: grayscale(100%);
    position: relative;
    display: inline-block;
    width: auto;
    height: 30px;
    margin: 30px;
    vertical-align: middle;
}

.list-style-none {
    list-style: none !important;
}

.sections {
    padding: 40px;

    margin: 100px auto;
}
/* ===============================================================================================================*/

/* ===============================================================================================================*/
.container-xl {
    max-width: 1280px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.caixa-texto {
    padding: 24px;
}
/* ===============================================================================================================*/

/* ===============================================================================================================*/

.encaixe-largura {
    max-width: 100%;
}
/* ===============================================================================================================*/

/* ===============================================================================================================*/
.bg-gray-dark {
    background-color: #24292e !important;
}
/* ===============================================================================================================*/

/* ===============================================================================================================*/
.footer-pad {
    padding-top: 100px;
    padding-bottom: 100px;
}

.scroll-images {
    overflow-x: scroll;
}

.legenda {
    margin: auto 20px;
}