{% extends 'base.html' %}

{% load static %}

{% block title %} <title>Busca</title> {% endblock %}
{% block includes %}<link href="{% static 'appsite/css/estilos.css'%}" rel="stylesheet">{% endblock %}


{% block corpo %}
    <div class="container">
        <table class="table table-striped table-responsive table-bordered table-sm" id="tabela" style="width: 100%; margin: 20pt 0">
            <thead class="">
                <tr>
                    <th class="text-center" scope="col">Autor</th>
                    <th class="text-center" scope="col">Nome do Projeto</th>
                    <th class="text-center" scope="col">Linguagens</th>
                </tr>
            </thead>
            <tbody id="tabela-corpo">
                {% for x in projetos %}
                <tr class="">
                    <td class="text-center" scope="row" width="10%"><a href="">{{ x.autor }}</a></td>
                    <td class="text-center" scope="row" width="10%"><a href="{% url 'appsite:exibe' x.id %}" id="nome_projeto">{{ x.nomeProjeto }}</a></td>
                    <td class="text-center" scope="row" width="20%">
                        {% for y in x.linguagem.all %}
                        {{ y.nome }}
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}         
            </tbody>
        </table>
    </div>
        
{% endblock %}