{% extends 'base.html' %}

{% load static %}

{% block title %} <title>Busca</title> {% endblock %}
{% block includes %}<link href="{% static 'appsite/css/estilos.css'%}" rel="stylesheet">{% endblock %}


{% block corpo %}
    <div class="container">
        <form action="" method="GET">
            <div class="form-group">
                <label for="" class="h5">Busca</label>
                <input type="text" class="form-control col-6">            
            </div>
        </form>

        <table class="table table-striped table-responsive table-bordered table-sm" id="tabela" style="width: 100%">
            <thead class="">
                <tr>
                    <th class="text-center">Autor</th>
                    <th class="text-center">Nome do Projeto</th>
                    <th class="text-center">Linguagens</th>
                </tr>
            </thead>
            <tbody id="tabela-corpo">
                {% for x in projetos %}
                <tr>
                    <th class="text-center"><a href="">{{ x.autor }}</a></th>
                    <th class="text-center"><a href="" id="nome_projeto">{{ x.nomeProjeto }}</a></th>
                    <th class="text-center">
                        {% for y in x.linguagem.all %}
                        {{ y.nome }}
                        {% endfor %}
                    </th>
                </tr>
                {% endfor %}         
            </tbody>
        </table>
    </div>
        
{% endblock %}