{% extends 'base.html' %}

{% load static %}

{% block title %}<title>Exibe</title>{% endblock %}
{% block includes %}<link href="{% static 'appsite/css/estilos.css'%}" rel="stylesheet">{% endblock %}

{% block corpo %}
    <div class="container">
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-primary" role="alert" style="margin: 30pt 0">
                <strong>{{ message }}</strong>}
            </div>
            {% endfor %}
        {% endif %}

        <div style="margin: 30pt 0">
            <p class="h3">Projeto</p>

            <p class="h5">Autor: </p>
            {{ projeto.autor }}
            <p class="h5">Nome do Projeto:</p>
            {{ projeto.nomeProjeto }}
            <p class="h5">Linguagens:</p>
            {% for x in linguagem %}
                {{ x.nome }}
            {% endfor %}            
        </div>
    
    {% if remove_projeto_form %}
    <form action="{% url 'appsite:remove' %}" method="POST" id="remove_projeto" novalidate>
        {% csrf_token %}

        <button id="btn_remove" class="btn btn-danger">Remover</button>
    </form>

    <form action="{% url 'appsite:edita' %}" method="POST" id="edita_projeto" novalidate>
        {% csrf_token %}

        <button id="btn-edita" class="btn btn-dark">Edita</button>
    </form>
            
    </div>
    {% endif %}
{% endblock %}

{% block domready %}
    $("#btn_remove").click(function() {
        $("#remove_projeto").append('{{ remove_projeto_form.projeto_id }}')
        $("#remove_projeto").submit()
    })

    $('#btn-edita').click(function () {
        $('#edita_projeto').append('{{ remove_projeto_form.projeto_id }}')
        $('#edita_projeto').submit()
    })
    
{% endblock %}