{% extends 'base.html' %}

{% load static %}

{% block title %}<title>GitHub</title>{% endblock %}

{% block includes %}<link href="{% static 'appsite/css/estilos.css'%}" rel="stylesheet">{% endblock %}

{% block corpo %}
    <div class="jumbotron-codelines">
        <div class="container d-md-flex justify-content-center section-2">
            <div class="col-md-4">
                <h1>Built for developers</h1>
                <p>GitHub is a development platform inspired by the way you work. From open source to business, you can host and review code, manage projects, and build software alongside 28 million developers.</p>
            </div>
            
            <div class="col-md-4 text-gray border rounded submit-signup" style="padding-right: 20px; padding-left: 20px;">
                <form action="" class="form-group">
                    <div class="form-item">
                        <label for="username">Username</label>
                        <input type="username" name="" id="username" class="form-control" placeholder="Pick a username">
                    </div>

                    <div class="form-item">
                        <label for="email">Email</label>
                        <input type="email" name="" id="email" class="form-control" placeholder="you@example.com">
                    </div>

                    <div class="form-item">
                        <label for="password">Password</label>
                        <input type="password" name="" id="password" class="form-control" placeholder="Create a password">
                    </div>

                    <div class="form-item">
                        <button type="submit" class="btn btn-primary btn-block">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="">
        <div class="container text-center sections">
            <h2>Try GitHub Entreprise</h2>
            
            <p>Use GitHub on-premises with your own servers or in a private cloud with GitHub Enterprise. 
                Improve your developer efficiency with flexible deployment options, centralized permissions, 
                hundreds of integrations, technical support, and more.
            </p>

            <button type="button" class="btn btn-primary btn-lg">Contact Sales</button>

        </div>
    </div>


    <div class="container text-center sections">
        <p>More than 1.8 million businesses and organizations use GitHub</p>

        <ul class="list-style-none d-flex justify-content-center flex-wrap mt-2 mt-md-3">
            <li> <img src="{% static 'appsite/images/logos/airbnb-logo.png' %}" class="logo-cinza" alt="AirBnB logo"> </li>
            <li> <img src="{% static 'appsite/images/logos/sap-logo.png' %}" class="logo-cinza" alt="Sap logo"> </li>
            <li> <img src="{% static 'appsite/images/logos/ibm-logo.png' %}" class="logo-cinza" alt="IBM logo"> </li>
            <li> <img src="{% static 'appsite/images/logos/google-logo.png' %}" class="logo-cinza" alt="Google logo"> </li>
            <li> <img src="{% static 'appsite/images/logos/paypal-logo.png' %}" class="logo-cinza" alt="PayPal logo"> </li>
            <li> <img src="{% static 'appsite/images/logos/bloomberg-logo.png' %}" class="logo-cinza" alt="Bloomberg logo"> </li>
            <li> <img src="{% static 'appsite/images/logos/spotify-logo.png' %}" class="logo-cinza" alt="Spotify logo"> </li>
            <li> <img src="{% static 'appsite/images/logos/swift-logo.png' %}" class="logo-cinza" alt="Swift logo"> </li>
            <li> <img src="{% static 'appsite/images/logos/facebook-logo.png' %}" class="logo-cinza" alt="Facebook logo"> </li>
            <li> <img src="{% static 'appsite/images/logos/node-logo.png' %}" class="logo-cinza" alt="NodeJS logo"> </li>
            <li> <img src="{% static 'appsite/images/logos/nasa-logo.png' %}" class="logo-cinza" alt="Nasa logo"> </li>
            <li> <img src="{% static 'appsite/images/logos/walmart-logo.png' %}" class="logo-cinza" alt="walmart-logo"> </li>
        </ul> 
    </div>


    <div class="container text-center sections">
        <p>GitHub for teams</p>
        <h1>A better way to work together</h1>
        <p>GitHub brings teams together to work through problems, move ideas forward, and learn from each other along the way.</p>
        <button type="button" class="btn btn-outline-primary">Sign up your team </button>
    </div>


    <div class="container-xl">
        <div class="d-md-flex">
            <div class="col-md-6">
                <img src="{% static 'appsite/images/index/home-illo-team.svg' %}" alt="" class="d-block">
            </div>
            <div class="col-md-6 flex-column">
                <div class="caixa-texto">
                    <h5>Write better code</h5>
                    <p>Collaboration makes perfect. The conversations and code reviews that happen in Pull Requests help your team 
                        share the weight of your work and improve the software you build. </p>
                </div>
                <div class="caixa-texto">
                    <h5>Manage your chaos</h5>
                    <p>Take a deep breath. On GitHub, project management happens in Issues and Projects, right alongside your code. 
                        All you have to do is mention a teammate to get them involved. </p>
                </div>
                <div class="caixa-texto">
                    <h5>Find the right tools</h5>
                    <p>Browse and buy apps from GitHub Marketplace with your GitHub account. Find the tools you like or discover new 
                        favorites—then start using them in minutes. </p>
                </div>
            </div>
        </div>
    </div>


    <div class="container text-center sections">
        <p>Security and administration</p>
        <h1>Boxes? Check.</h1>
        <p>We worry about your administrative and security needs so you don’t have to. From flexible hosting to authentication 
            options, GitHub can help you meet your team’s requirements.</p>
        <button type="button" class="btn btn-outline-primary">See how GitHub works for business</button>            
    </div>

    <div class="container">
        <div class="d-md-flex">
            <div class="col-md-6">
                <div class="caixa-texto">
                    <h5>Code security</h5>
                    <p>Prevent problems before they happen. Protected branches, signed commits, and required status checks protect 
                        your work and help you maintain a high standard for your code.</p>
                </div>
                <div class="caixa-texto">
                    <h5>Access controlled</h5>
                    <p>Encourage teams to work together while limiting access to those who need it with granular permissions and 
                        authentication through SAML/SSO and LDAP.</p>
                </div>
            </div>
            <div class="col-md-6">
                <img src="{% static 'appsite/images/index/home-illo-business.png' %}" alt="" class="encaixe-largura">
            </div>
        </div>
    </div>
    

    <div class="container text-center sections">
        <p>Integrations</p>
        <h1>Build on GitHub</h1>
        <p>Customize your process with GitHub apps and an intuitive API. Integrate the tools you already use or discover new favorites
            to create a happier, more efficient way of working.</p>
        <button type="button" class="btn btn-outline-primary">Learn about integrations</button>
    </div>


    <div class="container text-center sections">
        <p>Community</p>
        <h5>Welcome home, developers</h5>
        <p>GitHub is home to the world’s largest community of developers and their projects...</p>
        <div>
            <!-- barra de rolagem -->
        </div>
        <p>...whether you’re making your first commit or sending a Rover to Mars, there’s room for you here, too.</p>
    </div>

    <div>
        <div class="d-flex flex-row scroll-images">
            <div class="border d-inline-flex">
                <img src="{% static 'appsite/images/index/ariya.png' %}" alt="" class="float-left" style="height: 150px">
                <h6 class="align-self-center text-center text-justify legenda">Ariya Hidayat</6>
            </div>
            <div class="border d-inline-flex">
                <img src="{% static 'appsite/images/index/freakboy3742.png' %}" alt="" style="height: 150px">
                <h6 class="align-self-center text-center text-justify legenda">Russell Keith-Magee</6>                    
            </div>
            <div class="border d-inline-flex">            
                <img src="{% static 'appsite/images/index/mailchimp.png' %}" alt="" style="height: 150px">
                <h6 class="align-self-center text-center text-justify legenda">Russell Keith-Magee</6>
            </div>
            <div class="border d-inline-flex">
                <img src="{% static 'appsite/images/index/kris-nova.png' %}" alt="" style="height: 150px">
                <h6 class="align-self-center text-center text-justify legenda">Kris Nova</6>
            </div>
            <div class="broder d-inline-flex">
                <img src="{% static 'appsite/images/index/yyx990803.png' %}" alt="" style="height: 150px">
                <h6 class="align-self-center text-center text-justify legenda">Evan You</6>
            </div>
            <div class="broder d-inline-flex">
                <img src="{% static 'appsite/images/index/mapbox.png' %}" alt="" style="height: 150px">
                <h6 class="align-self-center text-center text-justify legenda">Mapbox</6>
            </div>
            <div class="broder d-inline-flex">
                <img src="{% static 'appsite/images/index/jessfraz.png' %}" alt="" style="height: 150px">
                <h6 class="align-self-center text-center text-justify legenda">Jess Fazelle</6>
            </div>
        </div>
    </div>


    <div class="container sections">
        <div class="d-md-flex">
            <div class="col-md-6"></div>

            <div class="col-md-6 flex-column">
                <div class="caixa-texto">
                    <p>GitHub’s users create and maintain influential technologies alongside the world’s largest open source community</p>
                </div>
                <div class="caixa-texto">
                    <p>Developers use GitHub for personal projects, from experimenting with new programming languages to hosting their life’s work.</p>
                </div>
                <div class="caixa-texto">
                    <p>Business of all sizes use GitHub to support their development process and to securely build software.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-dark footer-pad">
        <div class="container" style="margin-bottom: 75px">
            <div class="text-center" style="padding-left: 100px; padding-right: 100px">
                <h2 class="text-white">Get started for free — join the millions of developers already using GitHub to share their code, work together, 
                    and build amazing things. </h2>
            </div>
        </div>
            
        <div class="container-xl">
            <div class="d-md-flex">
                <div class="form-group form-control-lg col-md-3">
                    <input type="username" name="" id="username-bot" class="form-control" placeholder="Pick a username">
                </div>
                <div class="form-group form-control-lg col-md-3">
                    <input type="email" name="" id="email-bot" class="form-control d-md-inline" placeholder="Your email address">
                </div>
                <div class="form-group form-control-lg col-md-3">
                    <input type="password" name="" id="password-bot" class="form-control d-md-inline" placeholder="Create a password">
                </div>
                <div class="form-group form-control-lg col-md-3">
                    <button type="button" class="form-group btn btn-primary btn-block">Sign up for GitHub</button>
                </div>
            </div>
        </div>           
    </div>

{% endblock %}