{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <title>Title</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{% static 'appsite/css/bootstrap.css'%}">
        <link href="{% static 'appsite/open-iconic/font/css/open-iconic-bootstrap.css'%}" rel="stylesheet">        
        <link rel="stylesheet" href="{% static 'appsite/css/estilos.css'%}">
    </head>
    <body>

        <div class="container">
            <div>
                <h1 class="font-weight-normal">Join GitHub</h1>
                <h5 class="font-weight-normal">The best way to design, build, and ship software</h5>
                
                <ul class="d-flex list-unstyled">
                    <li class="text-left text-md-left border flex-fill" style="padding: 5pt">
                        <p class="h6">Step 1:</p>
                        <p>Create personal account</p>
                    </li>
                    <li class="text-left text-md-left border flex-fill" style="padding: 5pt">
                        <p class="h6">Step 2:</p>
                        <p>Additional infos</p>
                    </li>
                </ul>
            </div> 
            
            <form autocomplete="off" id="signup-form" class="setup-form js-signup-form js-octocaptcha-parent" action="/join" accept-charset="UTF-8" method="post"><input name="utf8" value="✓" type="hidden"><input name="authenticity_token" value="lhqc6ni6SoFc6Fxbt8nsloQ2KqXm5tu47aSSnqQ/ZN9Xccwvv68WOxeclSC3KmWPwRPg0vmlJg2N39wb4jdl/g==" type="hidden">

                <h2 class="f2-light mb-1">
                  Create your personal account
                </h2>
              
                <div class="form-group">
                    <label name="user[login]" required="required" for="user_login">Username</label>
                    <input name="user[login]" required="required" class="form-control" id="user_login" autocomplete="off" spellcheck="false" type="text">
                    <p class="note">This will be your username. You can add the name of your organization later.</p>
                    
                </div>             
                
                <div class="form-group">
                    <label name="user[email]" required="required" for="user_email">Email address</label>
                    <input name="user[email]" required="required" class="form-control" id="user_email" autocomplete="off" spellcheck="false" type="text">
                    <p class="note">We’ll occasionally send updates about your account to this inbox. We’ll never share your email address with anyone.</p>
                </div>

                <div class="form-group">
                    <label name="user[password]" required="required" for="user_password">Password</label>
                    <input name="user[password]" required="required" class="form-control" id="user_password" type="password">
                    <p class="note">Make sure it's more than 15 characters, or at least 7 characters, including a number, and a lowercase letter.</p>                    
                </div>
              
                <p class="tos-info">By clicking “Create an account” below, you agree to our
                <a href="" target="_blank">terms of service</a> and
                <a href="" target="_blank">privacy statement</a>. We’ll occasionally send you account related emails.</p>
              
                <button type="submit" class="btn btn-primary" id="signup_button">
                  Create an account
                </button>
              
              </form>

              <img src="{{imagem.caminho}}" alt="">
              <p href="">{{ imagem.nome }}</p>
        </div>

        <script src="{% static 'appsite/js/jquery-3.3.1.js' %}"></script>
        <script src="{% static 'appsite/js/popper.js' %}"></script>
        <script src="{% static 'appsite/js/bootstrap.js' %}"></script>
        <script src="{% static 'appsite/js/script.js' %}"></script>
    </body>
</html>